<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/carousel.css}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header
        class="fixed-top ps-5 bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/image/logo-07.svg" height="40" alt="logo">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="px-3"><a href="#" class="nav-link px-2 link-light">Kesehatan</a></li>
            <li class="px-3"><a href="#" class="nav-link px-2 link-light">Teknologi</a></li>
            <li class="px-3"><a href="#" class="nav-link px-2 link-light">Politik</a></li>
            <li class="px-3"><a href="#" class="nav-link px-2 link-light">Olahraga</a></li>
            <li class="px-3"><a href="#" class="nav-link px-2 link-light">Seni</a></li>
        </ul>

        <div class="col-md-3 text-end pe-3">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
        </div>
    </header>
    <main class="container my-5">
        <div class="px-4 py-1 p-md-5 mb-4 text-dark rounded bg-cream">
            <div class="row">
                <div class="col-md-6 p-3">
                    <h1 class="display-4 fst-italic fw-bold">Title of a longer featured blog post</h1>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                        efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead mb-0"><a href="#" class="text-dark fw-bold">Continue reading...</a></p>
                </div>
                <div class="col-md-6 px-0 bg-light">

                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em"></text>
                    </svg>

                    <div class="card-body">
                        <h2>
                            Input Title Here
                        </h2>
                        <p class="card-text">Input content body here.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-md btn-outline-secondary">Read More</button>
                            </div>
                            <small class="text-muted">ini tanggal publish</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="footer fixed-bottom row px-3 pt-2 mt-1 border-top bg-light">
        <p class="col-md-4 text-muted align-middle">&copy; 2021 Company, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="/image/logo2-10.svg" height="40" alt="logo">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
    <script th:src="@{/js/bootstrap.js}"></script>

</body>

</html>