<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainOther.html}">

<head>
    <title>Activate Account</title>
</head>

<body>
    <div class="content center-screen" layout:fragment="content">
        <div class="row w-50">
            <div class="col-4">
                <img src="/image/logo2-10.svg" height="200" alt="logo">
            </div>
            <div class="col-8 text-start">
                <h1>Verifikasi berhasil!</h1><br>
                <h4>Silahkan kembali ke halaman <a href="/login">login</a></h4>
            </div>
        </div>
    </div>

</body>

</html>