<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainHome.html}">

<head>
    <title th:text="${title.name}"></title>
</head>

<body>
    <div class="content" layout:fragment="content">
        <div class="h-50 bg-danger">Test</div>
        <div class="bg-cream my-4 px-5 pt-3">
            <div class="border-bottom">
                <h1 th:text="${title.name}" class="text-center fw-bold" th:data-value="${title.id}" id="category"></h1>
            </div><br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="contentCard">
            </div><br>
        </div>
        <div class="bg-white text-white">Test</div>
    </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/category.js}"></script>
    </th:block>
</body>

</html>