<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Email message</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${hello}"></h1>
        <div th:text="${password}"></div>
        <div th:text="${message}"></div>
        <div >
            <a th:text="${token}" th:href="@{${token}}"></a>
        </div>
    </body>
</html>
