<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainOther.html}">

<head>
    <title>Update Password</title>
</head>

<body>
    <div class="content center-screen" layout:fragment="content">
        <div class="row w-50">
            <div class="col-4">
                <img src="/image/logo2-10.svg" height="200" alt="logo">
            </div>
            <div class="col-8 text-start">
                <h3>Password Update</h3><br>
                <form th:action="@{/profile/{code} (code = ${token})}" th:object="${user}" th:method="PUT">
                    <div class="pb-2 mb-2">
                        <input type="text" class="form-control" th:field="*{password}">
                        <!--<p th:if="${#fields.hasErrors('code')}" th:errors="*{code}">error message</p>-->
                    </div>
                    <button class="btn btn-dark swal" type="submit">Update Password</button>
                </form>
            </div>
        </div>
    </div>
    <th:block layout:fragment="scripts">
        <script>
            $('.swal').click(function (e) {
                e.preventDefault();
                var updateform = this.form;
                Swal.fire({
                    title: 'Success',
                    text: 'Check your email to activate your account',
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.isConfirmed) {
                        updateform.submit();
                    }
                })
            })
        </script>
    </th:block>

</body>

</html>